<page-header [title]="null"></page-header>
<nz-card [nzBordered]="false">
  <div class="d-flex align-items-center mb-lg">
    <h3 class="flex-1 text-lg">List Student</h3>
  </div>
  <button nz-button (click)="openEdit()" [nzType]="'dashed'" nzBlock class="mb-sm">
    <i nz-icon nzType="plus"></i>
    <span>Add Student</span>
  </button>
  <nz-list [nzDataSource]="students" [nzLoading]="loading" [nzRenderItem]="item">
    <ng-template #item let-item>
      <nz-list-item [nzContent]="nzContent" [nzActions]="[edit, op]">
        <ng-template #edit>
          <a (click)="openEdit(item)">Edit</a>
        </ng-template>
        <ng-template #op>
          <a (click)="remove(item.id)">Delete</a>
        </ng-template>
        <nz-list-item-meta [nzTitle]="nzTitle" [nzDescription]="item.subDescription" [nzAvatar]="nzAvatar">
          <ng-template #nzTitle>
            {{item.id}}. {{ item.name}}
          </ng-template>
          <ng-template #nzAvatar>
            <nz-avatar [nzSrc]="avatar" nzSize="large" [nzShape]="'square'"></nz-avatar>
          </ng-template>
        </nz-list-item-meta>
        <ng-template #nzContent>
          <div class="width-md">
            <div class="d-flex text-grey-dark">
              <div class="flex-1">
                <p>Password: {{ item.password }}</p>
                <p>Favorite Music: {{ item.favoritemusic }}</p>
                <p>Phone: {{ item.phone }}</p>
              </div>
            </div>
          </div>
        </ng-template>
      </nz-list-item>
    </ng-template>
  </nz-list>
</nz-card>